<!DOCTYPE html>

<html>
    <body>
        <form action='/predict' method="POST">
            Education: <input type='float' name='Education'><br>
            Income: <input type='float' name='Income'><br>
            Kidhome: <input type='float' name='Kidhome'><br>
            Teenhome: <input type='float' name='Teenhome'><br>
            Recency: <input type='float' name='Recency'><br>
            MntWines: <input type='float' name='MntWines'><br>
            MntFruits: <input type='float' name='MntFruits'><br>
            MntMeatProducts: <input type='float' name='MntMeatProducts'><br>
            MntFishProducts: <input type='float' name='MntFishProducts'><br>
            MntSweetProducts: <input type='float' name='MntSweetProducts'><br>
            MntGoldProds: <input type='float' name='MntGoldProds'><br>
            NumDealsPurchases: <input type='float' name='NumDealsPurchases'><br>
            NumWebPurchases: <input type='float' name='NumWebPurchases'><br>
            NumCatalogPurchases: <input type='float' name='NumCatalogPurchases'><br>
            NumStorePurchases: <input type='float' name='NumStorePurchases'><br>
            NumWebVisitsMonth: <input type='float' name='NumWebVisitsMonth'><br>
            AcceptedCmp3: <input type='float' name='AcceptedCmp3'><br>
            AcceptedCmp4: <input type='float' name='AcceptedCmp4'><br>
            AcceptedCmp5: <input type='float' name='AcceptedCmp5'><br>
            AcceptedCmp1: <input type='float' name='AcceptedCmp1'><br>
            AcceptedCmp2: <input type='float' name='AcceptedCmp2'><br>
            Complain: <input type='float' name='Complain'><br>
            Response: <input type='float' name='Response'><br>
            Age: <input type='float' name='Age'><br>
            Spent: <input type='float' name='Spent'><br>
            Living_With: <input type='float' name='Living_With'><br>
            Children: <input type='float' name='Children'><br>
            Family_Size: <input type='float' name='Family_Size'><br>
            Is_Parent: <input type='float' name='Is_Parent'><br>
            Total_Promos: <input type='float' name='Total_Promos'><br>


            Class: {{result}} <br>
            <input type='submit' value='Predict'>
        </form>
    </body>
</html>


